### Prompt:
You are an analyst for a fastfood restaurant. The company has tasked you to analyze their past transactions. Each row represents a single transaction/order from one of their ten (10) branches. The order is recorded as a __`string`__ which is formatted as: 

"`[quantity1][item_code1], [quantity2][item_code2], [quantity3][item_code3]`"

However, because of some technical error, the __number of combo meals purchased__ as well as the __total order value__ was lost, so we'll need to restore that.

### You are tasked to come up with the following:
1. Given the order column, count how many of each product was purchased
2. Given each product count, get the number of supposed combo meals purchased. <br><i>(You may update the product count when the combo meals are counted)</i>.
3. Calculate the total order value.
4. Determine which branch made the most revenue, and how much?

### The combo meals are detailed below:
1. Family combo: 4 burgers, 4 fries, 4 drinks
2. Big combo: 1 burgers, 1 fries, 1 drinks
3. Snack combo: 1 fries, 1 drinks

In [165]:
# 1. Given the order column, count how many of each product was purchased
import pandas as pd

df = pd.read_csv("food_transactions.csv")

if "S_Burger" in str(df["order"]):
    df["burger_quant"] = df["order"][(str(df["order"]).find('S_Burger') - 1) : str(df["order"]).find('S_Burger')]
if "Fries" in str(df["order"]):
    df["Fries"] = df["order"].str.split('S_Fries').str[0]
if "Drink" in str(df["order"]):
    df["drink_quant"] = df["order"].str.split('S_Drink').str[0]

df

,Unnamed: 0,date,branch,order,burger_quant,Fries,drink_quant
0,0,2023-06-26 21:36:39,Branch 3,"1S_Burger, 4S_Fries, 5S_Drink",NaN,"1S_Burger, 4","1S_Burger, 4S_Fries, 5"
1,1,2023-12-22 10:57:56,Branch 9,"2S_Burger, 4S_Fries, 3S_Drink",NaN,"2S_Burger, 4","2S_Burger, 4S_Fries, 3"
2,2,2023-12-14 14:07:51,Branch 8,"2S_Burger, 4S_Fries, 2S_Drink",NaN,"2S_Burger, 4","2S_Burger, 4S_Fries, 2"
3,3,2023-11-01 02:10:22,Branch 4,"6S_Fries, 1S_Drink",NaN,6,"6S_Fries, 1"
4,4,2023-09-30 07:42:12,Branch 3,"5S_Burger, 6S_Drink",NaN,"5S_Burger, 6S_Drink","5S_Burger, 6"
...,...,...,...,...,...,...,...
134770,134770,2023-12-11 04:21:04,Branch 8,"3S_Fries, 6S_Drink",NaN,3,"3S_Fries, 6"
134771,134771,2023-08-25 18:43:05,Branch 8,"7S_Burger, 6S_Fries",NaN,"7S_Burger, 6","7S_Burger, 6S_Fries"
134772,134772,2023-09-24 14:15:58,Branch 10,"4S_Burger, 6S_Fries",NaN,"4S_Burger, 6","4S_Burger, 6S_Fries"
134773,134773,2023-07-08 12:43:10,Branch 4,"7S_Burger, 6S_Fries, 5S_Drink",NaN,"7S_Burger, 6","7S_Burger, 6S_Fries, 5"
134774,134774,2023-04-18 18:25:39,Branch 4,"7S_Burger, 5S_Fries, 7S_Drink",NaN,"7S_Burger, 5","7S_Burger, 5S_Fries, 7"

In [ ]:
def burgers(x):
    if "S_Burger" in x:
        return x[(x.find('S_Burger')-1):].strip()
    else:
        return False

def fries(x):
    if "S_Fries" in x:
        return x[(x.find('S_Fries')-1):].strip()
    else:
        return False
def Drink(x):
    if "S_Drink" in x:
        return x[(x.find('S_Drink')-1):].strip()
    else:
        return False

new_df = df.copy()
new_df['burger_quant'] = new_df['order'].apply(burgers)
new_df['fries_quant'] = new_df['order'].apply(fries)
new_df['Drink_quant'] = new_df['order'].apply(Drink)
new_df

In [ ]:
# 2. Given each product count, get the number of supposed combo meals purchased.
# (You may update the product count when the combo meals are counted).
# The combo meals are detailed below:
# Family combo: 4 burgers, 4 fries, 4 drinks
# Big combo: 1 burgers, 1 fries, 1 drinks
# Snack combo: 1 fries, 1 drinks


if ((int(df["burger_quant"]) // 4) >=1) and ((int(df["fries_quant"]) // 4) >=1) and ((int(df["drink_quant"]) // 4) >=1):
    minimum_family = min((int(df["burger_quant"]) // 4), (int(df["fries_quant"]) // 4), (int(df["drink_quant"])// 4))
    df["burger_quant"] = int(df["burger_quant"]) - minimum_family
    df["fries_quant"] = int(df["fries_quant"]) - minimum_family
    df["drink_quant"] = int(df["drink_quant"]) - minimum_family

if ((int(df["burger_quant"]) >=1) and ((int(df["fries_quant"]) >=1) and ((int(df["drink_quant"]) >=1):
    minimum_big = min((int(df["burger_quant"]), (int(df["fries_quant"]), (int(df["drink_quant"])))
    df["burger_quant"] = int(df["burger_quant"]) - minimum_big
    df["fries_quant"] = int(df["fries_quant"]) - minimum_big
    df["drink_quant"] = int(df["drink_quant"]) - minimum_big

if ((int(df["fries_quant"]) >=1) and ((int(df["drink_quant"]) >=1):
    minimum_snack = min((int(df["fries_quant"])), (int(df["drink_quant"])))
    df["fries_quant"] = int(df["fries_quant"]) - minimum_snack
    df["drink_quant"] = int(df["drink_quant"]) - minimum_snack

df["minimum_snack"] = minimum_snack
df["minimum_big"] = minimum_big
df["minimum_family"] = minimum_family

In [ ]:
# 3. Calculate the total order value.

df['revenue'] = df['quantity']*df['price']

In [ ]:
# 4. Determine which branch made the most revenue, and how much?

sales = df.groupby('branch')['revenue'].sum().sort_values(ascending=False)

print(sales)